# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

so a story was told by kandiman
uid=కంది@amfam.com
pwd="Рыбы
Рыба 7




 

Король спросил рыбу: Почему ты не сушишь?

Рыба сказала: «О царь! сено встало между мной и солнцем, так что я не мог сушиться.

Король спросил сена: Почему ты оказался между рыбой и солнцем?

Привет
Привет

Хэй сказал: корова меня не съела.

Царь подошел к корове.

Корова
Корова

Король спросил корову: Корова! Корова! почему ты не ел сено?

Корова сказала: Фермер меня не кормил.

Затем король пошел к фермеру.

Famer
Фермер




Король спросил фермера: Почему ты не дал коровье сено?

Фермер сказал: О король! старушка не давала мне еды.

Король подошел к старушке.

Пожилая дама
Пожилая дама

Король спросил старушку: Старушка! пожилая дама! почему ты не дал фермеру еды?

Старушка сказала: «О король! мой маленький ребенок плакал, поэтому я не мог дать фермеру еды.

Затем король подошел к маленькому ребенку.

Ребенок
Ребенок

Король спросил маленького ребенка: Почему ты плачешь?

Маленький ребенок сказал: Муравей меня укусил.

Затем король подошел к муравью.

Муравей
Муравей




Король спросил муравья: «Почему ты укусил маленького ребенка?»

Муравей сказал: «Почему бы мне не укусить ее, если она засунет свой мизинец в мою золотую муравейник».

Мораль: «Чтобы решить проблему, нужно найти корень проблемы»

Итак, история дошла до Канчи, и мы должны идти домой.

Конец
Ryby
Ryba 7




 

Korol' sprosil rybu: Pochemu ty ne sushish'?

Ryba skazala: «O tsar'! seno vstalo mezhdu mnoy i solntsem, tak chto ya ne mog sushit'sya.

Korol' sprosil sena: Pochemu ty okazalsya mezhdu ryboy i solntsem?

Privet
Privet

Khey skazal: korova menya ne s"yela.

Tsar' podoshel k korove.

Korova
Korova

Korol' sprosil korovu: Korova! Korova! pochemu ty ne yel seno?

Korova skazala: Fermer menya ne kormil.

Zatem korol' poshel k fermeru.

Famer
Fermer




Korol' sprosil fermera: Pochemu ty ne dal korov'ye seno?

Fermer skazal: O korol'! starushka ne davala mne yedy.

Korol' podoshel k starushke.

Pozhilaya dama
Pozhilaya dama

Korol' sprosil starushku: Starushka! pozhilaya dama! pochemu ty ne dal fermeru yedy?

Starushka skazala: «O korol'! moy malen'kiy rebenok plakal, poetomu ya ne mog dat' fermeru yedy.

Zatem korol' podoshel k malen'komu rebenku.

Rebenok
Rebenok

Korol' sprosil malen'kogo rebenka: Pochemu ty plachesh'?

Malen'kiy rebenok skazal: Muravey menya ukusil.

Zatem korol' podoshel k murav'yu.

Muravey
Muravey




Korol' sprosil murav'ya: «Pochemu ty ukusil malen'kogo rebenka?»

Muravey skazal: «Pochemu by mne ne ukusit' yeye, yesli ona zasunet svoy mizinets v moyu zolotuyu muraveynik».

Moral': «Chtoby reshit' problemu, nuzhno nayti koren' problemy»

Itak, istoriya doshla do Kanchi, i my dolzhny idti domoy.

Konets" 

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
